body{
    margin: 0px;
    color: #323232;
}

.header{
    display: grid;
    padding: 40px;
    grid-template-columns: auto auto;
}

.volv-logo{
    height: 30px;
    justify-self: flex-start;
}

.instagram{
    justify-self: flex-end;
}

.instagram > img{
    height: 20px;
}

.content{
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "readlessknowmore readlessknowmore"
    "evolvewithus phone";
}

.read-less-know-more{
    grid-area: readlessknowmore;
    /* justify-self: center; */
    height: 100vh;
    background: url("Assets/V\ Light.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30%;
    background-position-x: -10%;
    background-position-y: 30%;
    background-size: 365px;
}

.evolve-with-us{
    grid-area: evolvewithus;
}

.phone{
    grid-area: phone;
}

.read-less-know-more > h1{
    font-weight: 300;
    font-size: 57px;
    text-align: center;
    line-height: 130%;
    letter-spacing: -1px;
}

.read-less-know-more > p{
    font-weight: 300;
    font-size: 31px;
    text-align: center;
    line-height: 150%;
}

.lighttext{
    color: #dddddd;
}