body{
    margin: 0px;
}

.header{
    padding: 40px;
}

.header > img{
    height: 30px;
}

.content{
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "readlessknowmore readlessknowmore"
    "evolvewithus phone";
}

.read-less-know-more{
    grid-area: readlessknowmore;
    /* justify-self: center; */
    height: 100vh;
    background: url("Assets/V\ Light.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30%;
    background-position-x: -10%;
    background-position-y: 20%;
    background-size: 330px;
}

.evolve-with-us{
    grid-area: evolvewithus;
}

.phone{
    grid-area: phone;
}

.read-less-know-more > h1{
    font-weight: 300;
    font-size: 54px;
    text-align: center;
    line-height: 130%;
}

.read-less-know-more > p{
    font-weight: 300;
    font-size: 32px;
    text-align: center;
    line-height: 150%;
}

.lighttext{
    color: #dddddd;
}